.inSeller{
    margin-bottom: 5px;
}

.pform{

    width: 470px;
}

.pbtn
{
    width: 200px;
    margin-top: 10px;
    margin-right: 5px;
}
.process
{
    margin-left: 55%;
    height: 5mm;
    width: 5mm;
}